@import "reset.css";
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
header{
    background-repeat: no-repeat;
    background-image: url(../img/intro/bg.jpg);
    /* max-height: 1000px; */
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
header .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    margin-bottom: 120px;
}
header .logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}
header .menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .menu ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin: 0 25px;
    padding: 12px 0px;
}
header .menu ul li a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
header .menu ul li:hover{
    border-bottom: 3px solid #fce38a;
    transition: opacity .3s linear;
}
header .intro{
    margin: 0 auto;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
header .suptitle{
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 42px;
}
header .title{
    font-family: Montserrat;
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
header .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 50px auto 50px;
}
header .button{
    display: inline-block;
    margin: 0 auto;
    width: 160px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #fff;
}
header .button:hover{
    color: #efc688;
    background-color: #fff;
    transition: background .2s linear;
}
header .slider{
    margin-top: 155px;
    display: flex;
    justify-content: space-between;
}
header .slider__item{
    width: 23%;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border-top: 3px solid #fff;
    padding: 25px 0;
    opacity: 0.7;
    position: relative;
}
header .slider__item.active{
    opacity: 1;
}
header .slider__item.active:before{
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    width: 70px;
    height: 3px;
    background-color: #f38181;
}
header .slider__item span{
    font-size: 24px;
    font-weight: 700;
}
section.about-us{
    max-height: 750px;
}
section.about-us .content{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.about-us .content__text{
    text-align: center;
    max-width: 960px;
}
section.about-us .suptitle{
    font-size: 24px;
    font-weight: 400;
    font-family: Kaushan Script;
    color: #333;
    margin-bottom: 20px;  
} 
section.about-us .title{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    color: #333;
    text-transform: uppercase;
}
section.about-us .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 40px;
}
section.about-us .description{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto;
    color: #999;
    margin-bottom: 100px;
}
section.about-us .content__images{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 110px;
}
section.about-us .item_text{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -60%, 0);
    opacity: 0;
    transition: opacity .3s linear;
}
section.about-us .images__item{
    background-color: #95e1d3;
    position: relative;
}
section.about-us .item_image{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}
section.about-us .item_image img{
    transition: opacity .1s linear;
}
section.about-us .images__item:hover .item_image{
    transform: translate3d(-10px, -10px, 0);
}
section.about-us .images__item:hover .item_image img{
    opacity: 0.1;
}
section.about-us .images__item:hover .item_text{
    opacity: 1;
}
section.facts{
    background-color: #95e1d3;
    height: 270px;
}
section.facts .content{
    display: flex;
    justify-content: space-between;
}
section.facts .facts__item{
    height: 100%;
    width: 100%;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
section.facts .facts__item span{
    display: inline-block;
    padding-top: 90px;
    font-size: 72px;
    font-weight: 700;
    font-family: Montserrat;
    text-transform: uppercase;
    color: #fff;
}
section.facts .facts__item p{
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 90px;
}
section.service .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 120px;
} 
section.service .content__text{
    text-align: center;
    max-width: 960px;
}
section.service .suptitle{
    font-size: 24px;
    font-weight: 400;
    font-family: Kaushan Script;
    color: #333;
    margin-bottom: 20px;  
} 
section.service .title{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    color: #333;
    text-transform: uppercase;
}
section.service .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 60px;
}
section.service .content__sevice{
    display: flex;
    flex-direction: column;
}
section.service .top-line{
    display: flex;
    justify-content: space-around;
}
section.service .bottom-line{
    display: flex;
    justify-content: space-around;
}
section.service .service__item{ 
    display: flex;
    width: 30%;
}
section.service .middle-line{
    height: 1px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e5e5e5;
}
section.service .item__img i{
    margin-right: 25px;
    font-size: 30px;
    color: #95e1d3;
}
section.service .item_title{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 15px;
}
section.service .item_description{
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto;
    line-height: 24px;
    color: #999;
}
section.feature{
    background: url(../img/featurs/bg.jpg) center no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
section.feature .content{
    padding-top: 110px;
}
section.feature .content__text{
    text-align: center;
}
section.feature .suptitle{
    font-size: 24px;
    font-weight: 400;
    font-family: Kaushan Script;
    color: #333;
    margin-bottom: 20px;  
} 
section.feature .title{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    color: #333;
    text-transform: uppercase;
}
section.feature .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 60px;
}
section.feature .content__devices{
    margin-right: 100px;
    text-align: center;
    position: relative;
}
section.feature .device_iPad{
    margin-right: 60px;
}
section.feature .device_iPhone{
    position: absolute;
    right: 230px;
    top: 200px;
}
section.service .description{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
}
section.service .content__info{
    display: flex;
    margin-top: 90px;
    justify-content: space-between;
}
section.service .accordion__item{
    border: 1px solid #e5e5e5;
    min-width: 600px;
    margin-left: 30px;
    margin-bottom: 10px;
}
section.service .accordion__title{
    display: flex;
    position: relative;
    align-items: center;
}section.service .accordion__title:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    right: 20px;
    top: 25px;
    transform: rotate(-45deg);
}
section.service .accordion__item.active .accordion__title:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    right: 20px;
    top: 15px;
    transform: rotate(135deg);
}
section.service .accordion__title i{
    font-size: 30px;
    color: #95e1d3;
    margin: 15px;
}
section.service .accordion__title h5{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    color: #444;
    text-transform: uppercase;
}
section.service .accordion__item.active p{
    display: block;
}
section.service .accordion__description p{
    display: none;
    overflow: auto;
    height: 132px;
    border-top: 1px solid #e5e5e5;
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999;
    padding: 20px;
}
section.quote .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    margin: 190px auto 170px;
}
section.quote .content{
    position: relative;
}
section.quote .content:after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    right: -75px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transform: rotate(45deg);
}
section.quote .text_description{
    font-family: Roboto;
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
    color: #999;
    margin-bottom: 20px;
}
section.quote .sub_title{
    display: block;
    position: relative;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Kaushan Script';
    color: #333;
}
section.quote .sub_title:before{
    content: "";
    display: inline-block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-bottom: 4px;
    margin-right: 10px;
}
section.quote .content__image{
    position: relative;
    border: 3px solid #95e1d3;
    margin-right: 60px;
}
section.quote .content__image:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    left: -75px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transform: rotate(225deg);
}
section.quote .content__image i{
    font-size: 60px;
    color: #95e1d3;
    margin: 40px;
}
section.our-team .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.our-team .content__text{
    text-align: center;
    max-width: 960px;
}
section.our-team .suptitle{
    font-size: 24px;
    font-weight: 400;
    font-family: Kaushan Script;
    color: #333;
    margin-bottom: 20px;  
} 
section.our-team .title{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    color: #333;
    text-transform: uppercase;
}
section.our-team .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 40px;
}
section.our-team .description{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto;
    color: #999;
    margin-bottom: 100px;
}
section.our-team .teammate{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 115px;
}
section.our-team .item__social-icons{
    width: 100%;
    text-align: center;
    color: #f38181;
    font-size: 26px;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -60%, 0);
    opacity: 0;
    transition: opacity .3s linear;
}
section.our-team .item__social-icons i{
    width: 26px;
    height: 26px;
    padding: 15px;
    background-color: #fce38a;
}
section.our-team .item__social-icons i:hover{
    width: 26px;
    height: 26px;
    padding: 15px;
    background-color: #f38181;
    color: #fff;
    transition: opacity .1s linear;
    cursor: pointer;
}
section.our-team .teammate__item{
    background-color: #95e1d3;
    position: relative;
}
section.our-team .item__image{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}
section.our-team .item__image img{
    transition: opacity .1s linear;
}
section.our-team .teammate__item:hover .item__image{
    transform: translate3d(-10px, -10px, 0);
}
section.our-team .teammate__item:hover .item__image img{
    opacity: 0.1;
}
section.our-team .teammate__item:hover .item__social-icons{
    opacity: 1;
}
section.our-team .item__text{
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
}
section.our-team .item__text h5{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #444;
    margin-bottom: 15px;
}
section.our-team .item__text p{
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
}
section.logos .content{
    margin: 50px auto;
    opacity: 0.8;
}
section.work .content{
    margin: 110px auto 100px;
}
section.work .content__text{
    text-align: center;
}
section.work .suptitle{
    font-size: 24px;
    font-weight: 400;
    font-family: Kaushan Script;
    color: #333;
    margin-bottom: 20px;  
} 
section.work .title{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    color: #333;
    text-transform: uppercase;
}
section.work .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 40px;
}
section.work .description{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    font-family: Roboto;
    color: #999;
    margin-bottom: 100px;
}
section.work .works{
    width: 100%;
    display: flex;
    justify-content: center;
}
section.work .works_column{
    flex: 1 1 0;
}
section.work .works__item{
    position: relative;
}
section.work .works__item .item__info{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
}
section.work .works__item .item__info h5{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}
section.work .works__item .item__info p{
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
section.work .works__item .item__info i{
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
section.work .item__image{
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s linear;
}
section.work .item__image img{
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;
}
section.work .works__item:hover .item__image img{
    opacity: 0.1;
}
section.work .works__item:hover .item__info{
    opacity: 1;
}
section.quote-img .content__image{
    border: 0;
    margin-right: 30px;
}
section.reviews{
    background: url(../img/reviews/bg.png) no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
section.reviews .content__text{
    text-align: center;
}
section.reviews .suptitle{
    padding-top: 110px;
    font-size: 24px;
    font-weight: 400;
    font-family: Kaushan Script;
    color: #333;
    margin-bottom: 20px;  
} 
section.reviews .title{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    color: #333;
    text-transform: uppercase;
}
section.reviews .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 85px;
}
section.reviews .content__reviews{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 1110px;
}

section.reviews .review__column{
    flex: 1 1 auto;
}
section.reviews .review__column:first-child{
    margin-right: 85px;
}
section.reviews .review__item{
    display: flex;
    width: 100%;
    margin-bottom: 70px;
}
section.reviews .item__text{
    margin-top: 15px;
    margin-left: 30px;
}
section.reviews .item__text .text_title{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    text-transform: uppercase;
    margin-bottom: 15px;
}
section.reviews .item__text .text_subtitle{
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    color: #333;
}
section.reviews .item__text .text_subtitle:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-top: 17px;
    margin-bottom: 24px;
}
section.reviews .item__text .text_description{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 24px;
}
section.blog{
    margin: 0 auto 115px;
}
section.blog .content__text{
    text-align: center;
}
section.blog .suptitle{
    padding-top: 110px;
    font-size: 24px;
    font-weight: 400;
    font-family: Kaushan Script;
    color: #333;
    margin-bottom: 20px;  
} 
section.blog .title{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    color: #333;
    text-transform: uppercase;
}
section.blog .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 85px;
}
section.blog .content__blog{
    display: flex;
    justify-content: space-between;
}
section.blog .blog__item{
    max-width: 380px;
    position: relative;
}
section.blog .blog__item .item__date{
    position: absolute;
    top: 155px;
    left: -10px;
    text-align: center;
    background-color: #95e1d3;
}
section.blog .blog__item .item__date .date_day{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 15px 0;
}
section.blog .blog__item .item__date .date_mounth{
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    padding: 0 15px 15px;
}
section.blog .blog__item .item__text .text_title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    color: #444;
    text-transform: uppercase;
    margin: 20px 0;
}
section.blog .blog__item .item__text .text_description{
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    color: #999;
}
section.blog .blog__item .item__text .text_description:after{
    content: "";
    display: block;
    width: 380px;
    height: 1px;
    background-color: #e5e5e5;
    opacity: 1;
    margin: 20px auto;
}
section.blog .blog__item .item__indicators i{
    font-size: 20px;
    color: #95e1d3;
    line-height: 24px;
    vertical-align: middle;
}
section.blog .blog__item .item__indicators span{
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    color: #999;
    line-height: 24px;
    vertical-align: middle;
    margin: 0 20px 0 7px;
}
section.map{
    background: url(../img/map/map.png) no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
section.map .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
section.map .content i{
    font-size: 26px;
    color: #f38181;
    margin-top: 57px;
}
section.map .content h4{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    color: #f38181;
}
section.map .content h4:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 20px auto 57px;
}
footer .content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer .content_column-first{
    width: 40%;
}
footer .content_column-second{
    width: 29%;
}
footer .content_column-third{
    width: 23%;
}
footer .content__info .logo{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 46px;
    color: #ccc;
    margin-top: 74px;
    margin-bottom: 40px;
}
footer .content__info .description{
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999;
    margin-bottom: 50px;
}
footer .content__info .followers-counter{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
footer .content__info .followers-counter span{
    font-weight: 700;
    font-size: 18px;
}
footer .content__info .followers-counter:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 18px auto;
}
footer .content__info .info__social-links {
    margin-bottom: 40px;
}
footer .content__info .info__social-links span{
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    margin-right: 23px;
}
footer .content__info .info__social-links i{
    font-size: 16px;
    color: #95e1d3;
    margin-right: 15px  ;
}
footer .content__info .subscribe input[type='text']{
    border: 1px solid #95e1d3;
    padding: 10px 14px;
    margin-right: 0px;
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    color: #333;
}
footer .content__info .subscribe input[type='submit']{
    border: 1px solid #95e1d3;
    background-color: #95e1d3;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 34px;
    margin-left: -4px;
}
footer .blogs h4.title{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    text-transform: uppercase;
    margin-top: 103px;
    margin-bottom: 50px;
}
footer .blogs .blogs__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}
footer .blogs .blogs__item .item__image{
    margin-right: 20px;
}
footer .blogs .blogs__item .item__image img{
    cursor: pointer;
}
footer .blogs .blogs__item .item__text h5.title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #444;
}
footer .blogs .blogs__item .item__text p.date{
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    color: #999;
    line-height: 24px;
}
footer .instagram h4.title{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    text-transform: uppercase;
    margin-top: 103px;
    margin-bottom: 50px;
}
footer .instagram .instagram__images{
    margin-bottom: 12px;
}
footer .instagram .instagram__images img{
    margin-bottom: 4px;
    cursor: pointer;
}
footer .instagram p.subtitle{
    font-family: Roboto;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
}
footer hr{
    border: 0;
    width: 100%;
    height: 1px;
    margin-top: 70px;
    margin-bottom: 24px;
    background-color: #e5e5e5;
}
footer .footer__text{
    text-align: center;
    margin-bottom: 22px;
}
footer .footer__text i{
    font-size: 14px;
}
footer .footer__text p.desiner{
    display: inline-block;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}
footer .footer__text p.desiner span{
    color: #f38181;
}
footer .footer__text p.coder{
    display: block;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #444;
}
footer .footer__text p.coder span{
    color: #f38181;
}